* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6E6E6E;
    font-weight: 300;
}

em {
    font-style: oblique;
    font-weight: 700;
}

header {
    height: 40px;
    width: 100%;
    background-color: #69cce3;
    position: fixed;
    top: 0%;
    z-index: 2;
}

header nav {
    float: left;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
}

header nav ul li {
    display: inline;
    padding: 10px 20px 10px 20px;
}

header nav ul li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header nav ul li a:hover {
    border-bottom: solid white;
    border-width: 3px;
}

header nav#tabs {
    right: 0px;
}


/*INTRODUCTION SLIDESHOW*/

section.slideshow {
    /*    height: 100vh;*/
}

section.slideshow h1 {
    font-size: 48px;
    font-weight: 300;
}

section.slideshow h1#subText {
    font-size: 30px;
}


/*GENERAL*/

li {
    list-style-type: none;
}

section {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

section h2 {
    font-size: 24px;
    font-weight: 300;
    padding-top: 80px;
}

section p {
    width: 250px;
    font-size: 12px;
}

section ul li {
    width: 250px;
    float: left;
}

section ul li p {
    width: 230px;
    padding-left: 10px;
    padding-top: 20px;
}


/*WHAT IS A FIRST YEAR SEMINAR*/

section#what ul li {
    position: absolute;
    transform: translate(-50%, 0);
}

section#what ul li:nth-child(1) {
    top: 55%;
    left: 15%;
}

section#what ul li:nth-child(2) {
    top: 25%;
    left: 50%;
}

section#what ul li:nth-child(3) {
    top: 55%;
    left: 85%;
}


/*DIAGONAL LINES*/

section#what div#line1 {
    width: 600px;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: rotate(65deg);
    position: absolute;
    top: 45%;
    left: 4%;
}

section#what div#line2 {
    width: 600px;
    border-bottom: 1px solid #cccccc;
    -webkit-transform: rotate(-65deg);
    position: absolute;
    top: 45%;
    right: 4%;
}


/*BENEFITS*/

section div#box {
    height: 500px;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
}

section div#box ul li {
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 70px;
}

section div#box ul {
    height: 30px;
    width: 1200px;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
}


/*FEATURED SEMINARS SLIDESHOW*/

section#seminars {
    background-image: url(images/slideshow_bckg.png);
}

section#seminars ul.bxslider li {
    margin-top: 200px;
}

section#seminars ul.bxslider li p {
    transform: translate(-50%, 0);
    margin-left: 50%;
}


/*THERES NO BETTER TIME THAN NOW*/
section#now div#box2 {
    width: 850px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    border-right: solid;
    border-left: solid;
    border-color: #cccccc;
    border-width: 1px;
    position: relative;
    
}

section#now div#box2 ul {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 750px;
}

section#now div#box2 ul li a {
    width: 130px;
    height: 30px;
    padding-top: 10px;
    display: block;
    font-weight: 700;
    background-color: #69cce3;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-top: 20px;
}

section#now p#nowP {
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    margin-top: 10px;
    width: 300px;
}

/*FOOTER*/
footer {
    background-color: #333333;
    height: 250px;
}

footer nav {
    width: 160px;
    height: 150px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

footer nav ul li h5 {
    color: #69cce3;
    font-size: 14px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
}









